<div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datum</th>
          <th scope="col">Iznos</th>
          <th scope="col">Kompanija</th>
          <th scope="col">ID narudžbe</th>
          <th scope="col">Opcije</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.date }}</td>
          <td [ngStyle]="{'color': (transaction.amount>0) ? '#23c902' : '#fc0000 '}">{{ transaction.amount }}</td>
          <td>{{ transaction.company.name }}</td>
          <td>{{ transaction.order_id }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-warning btn-sm" (click)="editTransaction(transaction)">
                Izmijeni
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>