#demoObject {
    -webkit-box-shadow: -1px 15px 11px -11px #BEBEBE; 
    box-shadow: -1px 15px 11px -11px #BEBEBE;
    background: #FFFFFF;
    height: 100px;
    width: 100px;
    padding: 30px;
    padding-top: 0px;
    
    text-align: center;

    }
    body#tinymce {
    background: #FFFFFF
    }

#stanje {
    font-size: large;
    margin-top: auto;
    vertical-align: middle;
    padding-top: 50px;
}