<div class="row">
  <h2>Proizvodi</h2>
  <br><hr>
    <div class="col-12" id="demoObject">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="demoObject">
      <h5>Lista proizvoda</h5>
      <hr>
      <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv</th>
              <th scope="col">Proizvođač</th>
              <th scope="col">Broj sertifikata</th>
              <th scope="col">Cijena</th>
              <th scope="col">Opcije</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of products">
              <td>{{ prod.id }}</td>
              <td>{{ prod.name }}</td>
              <td>{{ prod.manifacturer }}</td>
              <td>{{ prod.certificate_number }}</td>
              <td>{{ prod.price }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-warning btn-sm" (click)="editProduct(prod)">
                    Izmijeni
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteProduct(prod.id)">
                    Obriši
                  </button> 
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
    