<div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Količina</th>
          <th scope="col">Proizvod</th>
          <th scope="col">Opcije</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.id }}</td>
          <td [ngStyle]="{'color': (stock.amount>0) ? '#23c902' : '#fc0000 '}">{{ stock.amount }}</td>
          <td>{{ stock.product.name }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-warning btn-sm" (click)="editStockEntry(stock)">
                Izmijeni
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>